:root{
    /* PRIMARY */
    --sc-color-primary: #021048;
    --sc-color-primary-buttons: #2094fd;
    --sc-color-primary-buttons-lighter: #3f4fdf;
    /* SECUNDARY */
    --sc-color-secundary: #1E38A3;
    /* DANGER */
    --sc-color-danger: #FF2222;
    /* GRAY */
    --sc-color-gray-lighter: #fafafa;
    --sc-color-gray-light: #B8B7B7;
    --sc-color-gray: #767676;
    /* BLACK */
    --sc-color-black: #09090a;
    --sc-color-black-light: #242429;

    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 130, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}