.sc-forgot-password >.sc-wrapper >.main-content >.center >.sc-title >.main-title {
    font-weight: 700;
    margin-bottom: 2rem;
    position: relative;
    font-size: 36px;
    display: block;
    margin-bottom: 20px;
}
.sc-forgot-password >.sc-wrapper >.main-content >.center >.sc-title >.sub-title  > .up{
    font-weight: 200;
    margin-bottom: 2rem;
    position: relative;
    font-size: 18px;
    display: block;
    margin-bottom: 15px;
}
.sc-forgot-password >.sc-wrapper >.main-content >.center >.sc-title >.sub-title  > .down{
    font-weight: 200;
    margin-bottom: 2rem;
    position: relative;
    font-size: 16px;
    display: block;
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.sc-forgot-password >.sc-wrapper >.main-content >.center >.sc-title >.main-title::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 54px;
    bottom: 0.5px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(to right, #021048 0%, #1E38A3 100%);
} 



.sc-forgot-password > .sc-wrapper > .main-content > .center >.img-wrapper >.image-mail{
    display: flex;
    position: relative;
    left: 30%;
    transform: translateX(-30%);
    top: 4.5px;
    cursor: pointer;

}