.sc-registration-page1 >.sc-wrapper >.main-content >.center > .sc-radio-buttons >.radio-title{
    font-weight: 700;
    font-size: 16px;
    display: flex;
    margin-bottom: 32px;
    color: var(--sc-color-black-light);
    position: relative;
    top: 20px;
}

