.sc-registration-page2 >.sc-wrapper >.main-content >.center >.sc-title >.steps{
    font-family:"Inter";
    font-weight: 500;
    font-size: 9px;
    display: block;
    margin-bottom: 13px;
    color: var(--sc-color-gray-light);
    letter-spacing: 2px;
    
}


.sc-registration-page2 >.sc-wrapper >.main-content >.center >.sc-title >.main-title {
    font-weight: 800;
    color: var(--sc-color-black);
    font-size: 25px;
    display: block;
    margin-bottom: 50px;
}
